//Color Hierarchy 

//* ---- Accent Color - Darkest Blue — Navbar, Modals, Interior of graph components
// $accent-darkest-blue: #071526;

$accent-darkest-blue: #0E1E31;

//* ---- background blues for gradient
//darker
// $bg-color-main: #141E30;
// $bg-color-main: #19253B;
$bg-gradient-dark: #1F3248;

//lighter
// $bg-color-right: #233352;
$bg-gradient-light: #243B55;

// DBE9F1
$light-font: #DBE9F1;

//font colors
//$light-font: #D7D7D7;
//input elements
$input-color: #D6D9E0;

//button colors
$button-background: #D35B51;
$button-background2: #243B55;
$nav-bar-hover: #324566;

//cluster popups
$cluster-element-text-color: white;

//help info colors
$help-info-background-color: whitesmoke;
$help-info-font-color: black;


//* ---- Graph

// graph-background
$graph-background: #1F3248;

// pod color border + text
$pods-color-hover: #C5DEEf;

// treegraph component
$treegraph-border-color: black;

//errorClass
$error-red: red;
$error-font-size: 9px;

//More Info Component
$more-info-background-color: #1E2021;

//Font sizes
$title-font-size: 20px;
$title-font-family: 'Lato-Bold', sans-serif;
