//* ---- Accent Color - Darkest Blue — Navbar, Modals, Interior of graph components
$accent-darkest-blue: #0E1E31;

//* ---- Background Blues for Gradient
$bg-gradient-dark: #1F3248;
$bg-gradient-light: #243B55;

//* ---- Font Colors
$light-font: #DBE9F1;
$input-color: #D6D9E0;

//* ---- Button Colors
$button-background: #D35B51;
$button-background2: #243B55;
$nav-bar-hover: #324566;

//* ---- Cluster Popups Colors
$cluster-element-text-color: white;

//* ---- Graph
$graph-background: #1F3248;

//* ---- Errors
$error-red: red;
$error-font-size: 9px;

//* ---- Fonts
$title-font-family: 'Lato-Bold', sans-serif;
