@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato'), local('Lato'), url('./Lato/Lato-Black.ttf') format('truetype');
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  background:#0E1E31;
  font-family: Lato;
  animation: fadein 2s;
}

body::-webkit-scrollbar {
  display: none;
}

svg {
  position: absolute;
  bottom: 50;
  left: -58px;
  height: 300px;
  width: 325px;
}

path {
  fill: none;
  stroke: #4368C9;
  stroke-width: 1.5;
  stroke-dasharray: 275;
  stroke-dashoffset: 10000;
  animation: dash 50s linear infinite running;
}

@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}