/*
* Label sections of the CSS to determine what styling goes where.
* If the styling starts to get to be a lot then move the styling into
* their own seperate files and only import in the styles that are relevent to a page
* this increases performance as well
*/



  @keyframes change{
    0%{background-color: rgb(0,117,171);}
    12.5%{background-color: rgb(12,0,73);}
    25%{background-color: rgb(49, 7, 86);}
    50%{background-color: rgb(9,35,108);}
    75%{background-color: rgb(0,74,134);}
    100%{background-color: rgb(0,117,171);}
  }
  
  body{
    animation: change 90s infinite;
  }

  .pods{
    animation: pods 10s infinite;
  }

  @keyframes pods{
    0%{background-color: green;}
    25%{background-color: yellow;}
    50%{background-color: red;}
    75%{background-color: blue;}
    100%{background-color: green;}
  }

  

/**************************************************/
/*************** HTML FUNDAMENTAL *****************/
/**************************************************/

svg:hover {
  fill: red;
}

body {
  margin: 0px;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  /* src: url('path/to/OpenSans.eot'); */
  src: local('Lato'), local('Lato'), url('./assets/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: myFirstFont;
  src: url("https://fonts.googleapis.com/css?family=Ubuntu");
}

.errorClass {
  color: red;
  font-size: 10px;
}

/**************************************************/
/*********** HOME PAGE COMPONENT STYLING **********/
/**************************************************/

.home_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Lato;
}

.home_page_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  min-width: 500px;
  max-width: 525px;
  min-height: 380px;
  max-height: 390px;
  height: 50%;
  background: #071526;
  border-radius: 6px;
  padding-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.home_page_form_container_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #D7D7D7;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.home_page_form_container_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
  color: #D7D7D7;
  width: 83%;
}

.home_page_form_container_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
  opacity: 0.7;
}
.home_page_form_container_inputs_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 8px 0;
}

.home_page_form_container_inputs_item input {
  width: 100%;
  height: 33px;
  border-radius: 5px;
  background: #071526;
  color: #D6D9E0;
  border: 1px solid #D6D9E0;
  font-size: 14px;
  font-weight: thin;
}

.home_page_form_container_inputs_item input[type=text] {
  padding-left: 10px;
}

.home_page_form_container_inputs_item input::placeholder {
  color: #D6D9E0;
}

.home_page_form_container_inputs_item input:focus {
  outline: none;
}

.home_page_form_container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  width: 83%;
  padding: 8px 0;
}

.home_page_form_container_buttons_item {
  display: flex;
  flex-direction: row;
}

.home_page_form_container_buttons_item select {
  width: 200px;
  height: 33px;
  background: hsl(213, 69%, 9%);
  border: 1px solid #D6D9E0;
  border-radius: 5px;
  color: #D6D9E0;
  font-size: 14px;
  opacity: 0.7;
}

.home_page_form_container_buttons_item select:focus {
  outline: none;
}

#home_info {
  height: 32px;
  width: 32px;
  font-size: 1.1em;
  color: #D7D7D7;
  border-radius: 20px;
  background: #071526;
  margin-top: 3px;
}

#home_info:active {
  background: #D6D9E0;
  color:#071526;
}

#home_info:hover {
  cursor:pointer;
}

.home_page_form_container_buttons_item #home_submit_button {
  /* width: 110px;
  height: 40px; */
  background: #071526;
  margin-right: 15px;
  border-radius: 5px;
  color: #D35B51;
  border: 1px solid #D35B51;
  font-size: 1.1em;
  font-weight: medium;
  padding: 10px;
}

.home_page_form_container_buttons_item button:focus {
  outline: none;
}

.home_page_form_container_buttons_item #home_submit_button:active {
  background: #D35B51;
  opacity: 0.7;
  color: #071526;
}

.home_page_post_config_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  min-width: 500px;
  max-width: 525px;
  min-height: 300px;
  max-height: 325px;
  height: 50%;
  background: #071526;
  border-radius: 6px;
  padding-bottom: 20px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.home_page_form_container_buttons_item #home_submit_button:hover {
  cursor: pointer;
  background: #D35B51;
  color: #071526;
  transition-duration: .2s;
}


/**************************************************/
/*********** HELP INFO COMPONENT STYLING **********/
/**************************************************/

.help_info_component {
  background-color: whitesmoke;
  border-radius: 6px;
  font-family: Lato;
  z-index: 1;
  position: absolute;
  width: 70%;
  height: 50%;
  padding: 10px;
  display: flex;
  align-items: column;
}

.help_info_component button {
  width: 20px;
  height: 20px;
  background: #D35B51;
  /* padding: 10px; */
  /* margin-right: px; */
  /* border-radius: 20px; */
  color: black;
  font-size: .5em;
  font-weight: 200;
  font-family: Lato;
  /* font-weight: medium; */
  outline: none;
}

.help_info_component button:hover{
  cursor: pointer;
}

.help_info_component p{
  display: flex;
  align-items: center;
}


/**************************************************/
/************** AWS CONTAINER STYLING *************/
/**************************************************/

.aws_cluster_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Lato;
}

.aws_cluster_form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 50%;
  min-width: 500px;
  max-width: 525px;
  min-height: 380px;
  max-height: 390px;
  background: #071526;
  border-radius: 6px;
  padding-bottom: 20px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
/* 
.aws_cluster_form_container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.aws_cluster_form_container_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #D7D7D7;
  width: 90%;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.aws_cluster_form_timing_text {

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
  color: #D7D7D7;
  width: 83%;
  margin-bottom: 20px;


  /* display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  line-height: 13px;
  font-weight: lighter;
  color: #D7D7D7;
  width: 85%;
  text-align: center; */
}

.aws_cluster_form_input_field_area {
  display: block;
  text-align: center;
  margin: auto;
  width: 83%;
}

.aws_cluster_form_container_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #D7D7D7;
  /* width: 80%; */
  margin-right: 10px;
  min-height: 38px;
  min-width: 375px;


  /* height: 40px;
  width: 250px; */
}

.aws_cluster_form_container_explainer_text {
  font-size: 10px;
  font-weight: lighter;
  /* color: #E2F0F2; */
  color: #D6D9E0;
  opacity: 30%;
  margin-left: 6px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 3px;
  font-style: italic;
}

.aws_cluster_form_container_input input {
  width: 100%;
  height: 33px;
  border-radius: 5px;
  background: #071526;
  color: #D6D9E0;
  border: 1px solid #D6D9E0;
  font-size: 14px;
  font-weight: thin;
  opacity: 0.7;
}

.aws_cluster_form_container_input input[type=text] {
  padding-left: 10px;
}

.aws_cluster_form_container_input input::placeholder {
  color: #D6D9E0;
}

.aws_cluster_form_container_input input:focus {
  outline: none;
}

.aws_cluster_form_container_button_item #aws_submit_button {
  width: 110px;
  height: 40px;
  background: #071526;
  margin-right: 15px;
  border-radius: 5px;
  color: #D35B51;
  border: 1px solid #D35B51;
  font-size: 1.1em;
  font-weight: medium;
}

.aws_cluster_form_container_button_item button:focus {
  outline: none;
}

.aws_cluster_form_container_button_item #aws_submit_button:active {
  background: #D35B51;
  opacity: 0.7;
  color: #071526;
}

.aws_cluster_form_container_button_item #aws_submit_button:hover {
  cursor: pointer;
  background: #D35B51;
  color: #071526;
  transition-duration: .2s;
}

/* .aws_cluster_form_container_button button {
  width: 110px;
  height: 40px;
  background: #071526;
  border: 1px solid #D35B51;
  margin-right: 15px;
  border-radius: 5px;
  color: #D35B51;
  font-size: 1.1em;
  font-weight: medium;
}

.aws_cluster_form_container_button button:focus {
  outline: none;
}

.aws_cluster_form_container_button button:active {
  background: #D35B51;
  opacity: 0.7;
  color: #071526;
}
/* 
#clusterName {
  margin-top: 15px;
}

#vpcStackName {
  margin-top: 15px;
}

#iamRoleName {
  margin-top: 15px;
} */


.aws_cluster_form_container_button button:hover {
  cursor: pointer;
  background: #D35B51;
  color: #071526;
  transition-duration: .2s;
} 


#aws_info {
  height: 32px;
  width: 32px;
  font-size: 1.1em;
  color: #D7D7D7;
  border-radius: 20px;
  background: #071526;
  margin-top: 3px;
}

#aws_info:active {
  background: #D6D9E0;
  color:#071526;
}

#aws_info:hover {
  cursor:pointer;
}











/* .aws_cluster_page_container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.aws_cluster_page_item {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.aws_cluster_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aws_cluster_container input{
  outline: none;
}

.aws_cluster_form_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
}  */
/**************************************************/
/************ AWS Loading Component Styling ************/
/**************************************************/

.aws_loading_form_component {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 525px;
  min-height: 380px;
  max-height: 390px;
  background: #071526;
  color: #D7D7D7;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.aws_loading_form_component_header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #D7D7D7;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;

}

.aws_loading_component_explainer_text {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
  color: #D7D7D7;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.aws_loading_form_component_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 75px;
  margin-right: 100px;
  height: 35px;
}

.aws_loading_component_status_text {
  display: flex;
  flex-direction: column;
  align-items: rigth;
  justify-content: right;
  font-size: 16px;
  line-height: 23px;
  font-weight: lighter;
  color: #D7D7D7;
} 

.aws_loading_component_error_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 13px;
  font-weight: lighter;
  color: red;
  font-size: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}



/**************************************************/
/************ KubectlContainer Styling ************/
/**************************************************/

.kubectl_container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  z-index: -2;  
}

/* Kubectl Component Styling */

.kubectl_form_container {
  display: flex;
  flex-direction: column;
  flex-basis: 2;
  border: 2px solid red;
}

.kubectl_form_container {
  /* display:grid; */
  /* border-radius: 10px; */
  border-style: solid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 10px;
}

.kubectl_form_container input[type="text"] {
  display: flex;
  justify-content: center;
}

.kubectl_form_container:hover {
  transition: 0.3s;
  background-color: lightgray;
}

.kubectl_form_item form {
  width: 100%;
}

/**************************************************/
/*********** TreeGraphContainer Styling ***********/
/**************************************************/
.treegraph_container {
  display: flex;
  flex-direction: column;
  flex-basis: 8;
  border: 2px solid black;
}

.pods:hover{
  cursor:pointer;
  border: 1px solid '#C5DEEf';
  transition-duration: .2s;
}

.podText:hover{
  color: '#C5DEEf';
}
/**************************************************/
/************* POPUP CONTAINER STYLING ************/
/**************************************************/

.popup_info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_info_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: #071526;
  color: white;
  padding: 30px;
  border-radius: 6px;
  font-family: Lato;
  border: 1px solid lightgray;
}

.popup_info_inner button {
  width: 110px;
  height: 40px;
  background: #071526;
  border: 1px solid #D35B51;
  margin-right: 15px;
  border-radius: 5px;
  color: #D35B51;
  font-size: 1.2em;
  font-weight: medium;
}

.popup_info_inner button:hover{
  cursor: pointer;
  background: #D35B51;
  color: #071526;
  transition-duration: .2s;
}

.popup_info_inner button:focus {
  outline: none;
}

.popup_info_inner button:active {
  background: #D35B51;
  opacity: 0.7;
  color: #071526;
}



/**************************************************/
/********** CLUSTER MORE INFO COMPONENTS **********/
/**************************************************/

/* NODE INFO COMPONENT */
.node_info_component {
  display: flex;
  flex-direction: column;
  font-size: 0.70em;
  width: 100%;
}

.node_info_component p {
  margin: 1px 0;
}

.node_info_component_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.node_info_component_additional_items {
  display: flex;
  flex-direction: column;
}

.additional_info_body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.additional_info_body p:nth-child(2) {
  padding-right: 15px;
}

.additional_info_body_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  width: 100%
}

/* API SERVER INFO COMPONENT */
.apiserver_info_component {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  font-size: 0.9em;
}

.apiserver_info_component p {
  margin: 3px 0;
}

.apiserver_info_component_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.apiserver_info_component_additional_items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.apiserver_info_ports_body_item {
  display: flex;
  flex-direction: column;
  padding-left: 15px;

}

#popup_info_button {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/**************************************************/
/**************** NAVBAR COMPONENTS ***************/
/**************************************************/

.nav_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  /* background-color: #090927; */
  background-color: #071526;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.nav_component_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.nav_left_container {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#nav_drop_down {
  display: flex;
  flex-direction: column;
  align-items: center
}

#nav_drop_down:hover {
    cursor: pointer;
}

.ham_bar {
  height: 3px;
  width: 30px;
  margin: 2px 0;
  border-radius: 2px;
  background: white;
}


  /* Create Menu (Button and Menu) */

.create_menu_component_container {
  position: absolute;
  left: 50px;
  top: 40px;
  width: 20%;
  height: 20%;
  background-color: #090927;
  display: flex;
  flex-direction: column;
}

.create_menu_component_container_button {
  width:100%;
  height:33%;
  border: none;
  background:#090927;
  color: #D6D9E0;
  font-size: 14px;
  font-weight: bold;
}

.create_menu_component_container_button:focus {
  outline: none;
}
.create_menu_component_container_button:hover {
  background:#D35B51;
}
  /* NAV COMPONENT LEFT */

.create_menu_item_component_container {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

.create_menu_item_component_item {
  display: flex;
  align-items: stretch;
  width: 80%;
}

.create_menu_item_form_item h4 {
  margin: 0;
}

.create_menu_item_form_item input {
  width: 100%;
}

/* NAV COMPONENT RIGHT */

.nav_right_container {
  display: flex;
  flex-direction: row;
}

.nav_component_cluster_button {
  font-family: Lato;
  color:white;
  background: rgb(2,18,41);
  border: none;
  margin-right: 10px;
  font-size: 15px;
}

.cluster_info_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 80%;
  top: 50px;
  width: 200px;
  height: 200px;
  background: white;
}






/* .barsButton{
  background-color: #090927;
  border: none;
  width: 8%;
  outline:none;
} */
/* .barsButton:hover{
  border: solid white;
} */







