/*
* Label sections of the CSS to determine what styling goes where.
* If the styling starts to get to be a lot then move the styling into
* their own seperate files and only import in the styles that are relevent to a page
* this increases performance as well
*/

/*
<-----------HTML FUNDAMENTAL---------->
*/

body {
  margin: 0px;
}

/*
<-----------NAV BAR---------->
*/

.nav_container {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  /* color: white; */
}

.nav_component_container {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: left;
  /* align-items: center; */
  padding: 10px;
}

.errorClass {
  color: red;
  font-size: 10px;
}

.nav_item {
  padding: 10px;
  opacity: 0.7;
  border: solid black;
  border-width: thin;
  border-radius: 2px;
  background-color:rgb(96,180,200);
  padding: 5px;
}

.nav_item a {
  text-decoration: none;
  color:black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_item:hover {
  opacity: 1;
}

/*
<-----------HOME PAGE---------->
*/

.home_page_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;

  background-image: url("./assets/big-clouds-childrens-plain.jpg");
  background-size: cover;
  background-position: center;
  /* color: white; */
}

.home_page_item {
  display: flex;
  margin: 10px;
  width: 100%;
  height: 60%;
  justify-content: center;
}

.home_page_form_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  background-color:whitesmoke;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home_page_form_container input {
  width: 300px;
  outline: none;
}
/* 
.home_page_form_container:hover {
  transition: 0.3s;
  background-color: lightgray;
} */

/* .section:hover {
  transition: 0.3s;
  background-color:rgb(238, 235, 235);
} */

/*
<-----------AWS PAGE---------->
*/
.aws_cluster_page_background{
  position: fixed;
  left: 0;
  right:0;
  z-index:1;
  background-image: url("./assets/big-clouds-childrens-plain.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
}

/* .aws_cluster_page_container:before {
  content: '';
  position: fixed;
  left: 0;
  right:0;
  z-index:-1;
  background-image: url("./assets/big-clouds-childrens-plain.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  display:block;
} */

.aws_cluster_page_container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-image: url("./assets/big-clouds-childrens-plain.jpg");
  background-size: cover;
  background-position: center;
  /* filter: blur(3px); */

  /* background-image: url("./assets/big-clouds-childrens-plain.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px); */
}

.aws_cluster_page_item {
  display: flex;
  margin: 10px;
  justify-content: center;
  width: 100%;
  height: 60%;
}

.aws_cluster_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-width: thin;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.aws_cluster_container input{
  outline: none;
}

.aws_cluster_form_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 10px;
  /* border: solid black;
  padding: 10px;
  background-color: white; */
} 

/* KubectlContainer Styling */


/*
<-----------KubectlContainer Styling---------->
*/

.kubectl_container {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

/* Kubectl Component Styling */

.kubectl_form_container {
  display: flex;
  flex-direction: column;
  flex-basis: 2;
  border: 2px solid red;
}

.kubectl_form_container {
  /* display:grid; */
  border-radius: 10px;
  border-style: solid;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 10px;
}

.kubectl_form_container input[type="text"] {
  display: flex;
  justify-content: center;
}

.kubectl_form_container:hover {
  transition: 0.3s;
  background-color: lightgray;
}

.kubectl_form_item form {
  width: 100%;
}

/* Treegraph component Styling */

.treegraph_container {
  display: flex;
  flex-direction: column;
  flex-basis: 8;
  border: 2px solid blue;
}

/* NodeInfo Component Popup */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

/*
<-----------BUTTONS---------->
*/

.buttons {
  border: none;
  background-color: gray;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  opacity: 0.6;
  transition: 0.3s;
}

.buttons:hover {
  /* box-shadow: -1px 2px 10px #f5f5f5; */
  cursor: pointer;
  opacity: 1;
}

.confirm {
  position: absolute;
  left: 50%;
  top: 50%;
}

.homebutton:hover {
  box-shadow: -1px 2px 10px #f5f5f5;
  cursor: pointer;
  opacity: 1;
}

.header {
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* justify-content: center; */
  color: black;
  top: 25%;
  left: 20%;
  padding: 50px;
}

@font-face {
  font-family: myFirstFont;
  src: url("https://fonts.googleapis.com/css?family=Ubuntu");
}

h4 {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

h5 {
  padding-top: 1px;
  margin-top: 1px;
  color: grey;
  font-weight: lighter;
  font-size: 9px;
}

.dropDown {
  


}
